<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" routerlink="home">
        <img src="./assets/images/freshcart-logo.svg" alt="brand logo">
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        
        
        <ul class="navbar-nav ">
          
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active-link" routerLink="home">home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active-link" routerLink="products">products</a>
          </li>

          

          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active-link" routerLink="categories">categories</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active-link" routerLink="brands">brands</a>
          </li>
          
        </ul>
        
        <ul class="navbar-nav ms-auto">


          <li class="nav-item">
            <a class="nav-link"   routerLink="cart">

              <button  class="btn-cart ">
                <svg class="icon-cart   " viewBox="0 0 24.38 30.52" height="30.52" width="24.38" xmlns="http://www.w3.org/2000/svg">
                  
                  <path transform="translate(-3.62 -0.85)" d="M28,27.3,26.24,7.51a.75.75,0,0,0-.76-.69h-3.7a6,6,0,0,0-12,0H6.13a.76.76,0,0,0-.76.69L3.62,27.3v.07a4.29,4.29,0,0,0,4.52,4H23.48a4.29,4.29,0,0,0,4.52-4ZM15.81,2.37a4.47,4.47,0,0,1,4.46,4.45H11.35a4.47,4.47,0,0,1,4.46-4.45Zm7.67,27.48H8.13a2.79,2.79,0,0,1-3-2.45L6.83,8.34h3V11a.76.76,0,0,0,1.52,0V8.34h8.92V11a.76.76,0,0,0,1.52,0V8.34h3L26.48,27.4a2.79,2.79,0,0,1-3,2.44Zm0,0"></path>
                </svg>
                <span class="cartn badge text-black position-absolute bottom-10 mt-5 ">{{cartItemsCounter}}</span>
              </button>
              


            </a>
          </li>
          
          <li class="nav-item mt-3">
            <a class="nav-link" >
              <i class="fa-brands fa-facebook" ></i>
            </a>
          </li>

          
          <li class="nav-item mt-3">
            <a class="nav-link" >
              <i class="fa-brands fa-twitter" ></i>
            </a>
          </li>

          
          <li class="nav-item mt-3">
            <a class="nav-link" >
              <i class="fa-brands fa-instagram" ></i>
            </a>
          </li>

          
          <li class="nav-item mt-3">
            <a class="nav-link" >
              <i class="fa-brands fa-linkedin" ></i>
            </a>
          </li>

          
          <li class="nav-item m-2">
            <!-- <a class="nav-link cr btn-main  mx-5 me-1 "  (click)="-_AuthService.logOut() " >
              SingOut
            </a> -->

             
<button (click)="-_AuthService.logOut() " class="Btn">
  
  <div class="sign"><svg viewBox="0 0 512 512"><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path></svg></div>
  
  <div class="text">Logout</div>
</button>






          </li>

          
          
        </ul>
        
        
      </div>
    </div>
  </nav>