

<section class="">
    <div class="row g-0">
        <div class="col-md-10">

            <owl-carousel-o [options]="customOptionsmain">
                <ng-template carouselSlide><img src="./assets/images/banner-1.jpeg" height="320"  class="w-100" alt=""></ng-template>  
                <ng-template carouselSlide><img src="./assets/images/banner-2.jpeg" height="320"  class="w-100" alt=""></ng-template>  
                <ng-template carouselSlide><img src="./assets/images/banner-3.jpeg" height="320"  class="w-100" alt=""></ng-template>  
                <ng-template carouselSlide><img src="./assets/images/banner-4.jpeg" height="320"  class="w-100" alt=""></ng-template>  
                <ng-template carouselSlide><img src="./assets/images/banner-5.jpeg" height="320"  class="w-100" alt=""></ng-template>  
                <ng-template carouselSlide><img src="../../../assets/images/banner-6.png" height="320"  class="w-100" alt=""></ng-template>  
                  
              </owl-carousel-o>


            
        </div>
        <div class="col-md-2">
            <img src="./assets/images/slider-image-1.jpeg" height="160" class="w-100" alt="">
            <img src="./assets/images/slider-image-2.jpeg" height="160" class="w-100" alt="">
            
        </div>
    </div>
</section>

<!-- categories -->
 

<section class="my-2">
    

    <h2 class="fw-bolder">Popular categories <span><i class="fa-solid fire-color fa-fire-flame-curved" ></i></span></h2>

    <owl-carousel-o [options]="customOptionsCategories">

       @for (cat of categoriesList; track cat._id)
        {
            <ng-template carouselSlide >

                <div class="">
                    <img [src]="cat.image" height="200px" class=" w-100" [alt]="cat.name">
                    <h3 class="text-main h6 text-lg-center mt-1 fw-bolder ">{{cat.name}}</h3>
                </div>

                
                
              </ng-template>
        }
    
      </owl-carousel-o>
</section>




<!-- Products -->


<section>
    
    <h2 class="fw-bolder">Popular Products <span><i class="fa-solid fa-fire fire-color fa-bounce"></i> </span></h2>

<div class="mb-5 mt-2 d-flex justify-content-center align-items-center ">
    
    <label class="cr" for="search"><i  class="fa-solid fa-magnifying-glass my-2 p-2 fs-5 fw-bolder opacity-50"></i></label>


    <input id="search"  [(ngModel)]="text" placeholder="Search By Name ..." class="input border-secondary border  w-25" name="text" type="search">
    

</div>
    
    <div class="row g-3">
        @for (product of productList.slice(0,12) | search: text ; track product.id) 
        {
            <div class="col-md-2">
                <div class="product p-2" >
                    <div class="" [routerLink]="[ '/details' , product.id  ]" >
                        <img [src]="product.imageCover" class="w-100 " [alt]="product.title">
                    <h3 class="small fw-medium text-main">{{product.category.name | titlecase}}</h3>
                    <h4 class="h6">{{product.title.split(" ",2).join(" ")}}</h4>
                    
                    <div class="d-flex justify-content-between align-items-center">
                        <span>{{product.price | currency :'EGP'}} </span>
                        <div class="">
                            @for (num of [1,2,3,4,5].slice(0,product.ratingsAverage) ; track $index) 
                            {
                                <span><i class="fas fa-star rating-color"></i></span>
                            }
                            @if (product.ratingsAverage %1 !==0) 
                            {
                                <i class="fa-solid fa-star-half-stroke rating-color"></i>
                            }
                            
                            <span class="text-muted">{{product.ratingsAverage}}</span>
                        </div>
                        
                    </div>
                    </div>

                   
                    <button class="CartBtn w-100  "  (click)="addToCart(product.id)">
                      <span class="IconContainer "> 
                        <svg  xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512" fill="rgb(255, 255, 255)" class="cart"><path  d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"></path></svg>
                      </span>
                      <p class="text mt-3 text-white">Add to Cart</p>
                    </button>



                </div>
            </div>
        }
    </div>



    
    
</section>